<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <sessionState mode="InProc" timeout="525600">
    </sessionState>
	</system.web>
	<connectionStrings>
		<add name="ConnStringDb1" connectionString="Server=tcp:projectsecurity.database.windows.net,1433;Initial Catalog=project_society;Persist Security Info=False;User ID='rohitrrc';Password='projsec@123';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
